@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet');

.loader-bg{
    background-color: rgba(20, 18, 18, 0.965);
    z-index: 999999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: -5px;
}

.loader{
    border: 0 solid transparent;
    /* top: calc(50vh - 75px); */
}

svg {
    position: absolute;
    width: 240px;
    height: 120px;
    top: 0; right: 0;
    bottom: 0; left: 0; 
    margin: auto;
  }
  .credit {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
  }
  
  .credit a {
    color: #FDB515;
    font: 800 75% "Open Sans", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
  }

body {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(130deg, #dad0d0 0%, #130f20 100%);

}

@media only screen and (min-width: 300px) and (max-width: 767px){
    body{
        padding: 0px;
        background-image: linear-gradient(130deg, #dad0d0 0%, #130f20 100%);
    }
}

p,
h1 {
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    color: #fff;
    /* font-family: 'Do Hyeon', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;

}

@media only screen and (min-width: 300px) and (max-width: 767px){
    p{
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    }
}

h1 {
    margin-top: 10px;
    font-size: 90px;
    color: #fff;
}

@media only screen and (min-width: 300px) and (max-width: 767px)
{
    h1 {
        margin-top: 10px;
        font-size: 50px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;    
        background-color: #000;
        display: flex;
    }   
    .marvel{
        margin-top: 10px;
        font-size: 40px;
        color: #fff;
        text-transform: uppercase;
        text-align: center;    
        background-color: #000;
        display: flex;
    }
}

h2{
    font-size: 11em;
    z-index: -2;
    display: flex;
    position: fixed;
    justify-content: center;
    text-align: center;
    color: #000;
    /* float: inherit; */
    margin-top: -30px;
    margin-left: 70px;
    /* flex-direction: row; */
}

@media only screen and (min-width: 300px) and (max-width: 767px){
    h2{
        display: none;
    }
}

.image {
    opacity: 0.7;
    margin: 0px 0px 25px 30px;
    width: 20vw;
    height: 60vh;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border: 0px;
    border-radius: 15px;
    box-shadow: 10px 5px 7px 3px #747070b7;
}

@media only screen and (min-width: 300px) and (max-width: 767px)
{
    .image {
        opacity: 0.7;
        margin: 0px 0px 10px 5px;
        width: 30%;
        height: 30vh;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        border: 0px;
        border-radius: 15px;
        box-shadow: 10px 5px 7px 3px #747070b7;
        cursor: pointer;
    }
}

.image:hover {
    opacity: 1;
    transform: scale(1.1);
    box-shadow: 10px 5px 15px 3px #b8b8b832;
}

@media only screen and (min-width: 300px) and (max-width: 767px)
{
    .image:hover {
        opacity: 1;
        transform: scale(1.1);
        box-shadow: 10px 5px 15px 3px #b8b8b832;
        cursor: pointer;
    }
}

.row {
    margin-left: 50px;
}

@media only screen and (min-width: 300px) and (max-width: 767px)
{
    .row {
        margin-left: 0px;
        margin-bottom: 20px;
    }
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

@media only screen and (min-width: 300px) and (max-width: 767px){
    .text {
        color: white;
        font-size: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        cursor: pointer;
    }
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(51, 51, 51, 0.95);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

@media only screen and (min-width: 300px) and (max-width: 767px){
    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: -10px;
        bottom: 0;
        left: 0;
        background: rgba(51, 51, 51, 0.95);
        z-index: 99999;
        opacity: 0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
        cursor: pointer;
    }
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;

}

.modalDialog>div {
    width: 30%;
    height: 80%;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px 20px 13px 30px;
    border-radius: 25px;
    background-image: linear-gradient(140deg, #E44E36 100%, #EC8C3F 10%, #130f20 100%);
}

@media only screen and (min-width: 300px) and (max-width: 767px){
    .modalDialog>div {
        width: 50%;
        height: 50%;
        position: relative;
        margin: auto;
        top: 20%;
        transform: translateY(-10%);
        padding: 30px 20px 13px 30px;
        border-radius: 25px;
        background-image: linear-gradient(140deg, #E44E36 100%, #EC8C3F 10%, #130f20 100%);
    }
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: normal;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #b69f5e;
}

.modalDialogdc {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(51, 51, 51, 0.95);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

@media only screen and (min-width: 300px) and (max-width: 767px){
    .modalDialogdc {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: -10px;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(51, 51, 51, 0.95);
        z-index: 99999;
        opacity: 0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }
}

.modalDialogdc:target {
    opacity: 1;
    pointer-events: auto;

}

.modalDialogdc>div {
    width: 30%;
    height: 80%;
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    padding: 30px 20px 13px 30px;
    border-radius: 25px;
    background-image: linear-gradient(160deg, #e6682e 10%, #f82358 100%, #f823dc 100%);
}

@media only screen and (min-width: 300px) and (max-width: 767px){
    .modalDialogdc>div {
        width: 50%;
        height: 50%;
        position: relative;
        margin: auto;
        top:20%;
        transform: translateY(-10%);
        padding: 30px 20px 13px 30px;
        border-radius: 25px;
        background-image: linear-gradient(160deg, #e6682e 10%, #f82358 100%, #f823dc 100%);
    }
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: normal;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #646bcc;
}

.head{
    color: #363634; 
    font-size: 1.7em; 
    font-weight:900; 
    text-transform: uppercase; 
    line-height: 1em; 
    text-decoration: underline;
    font-family: 'Do Hyeon', sans-serif;
}

.titles{
    color: #ffffff; 
    font-size: 1.2em; 
    font-weight:900; 
    text-transform: uppercase; 
    line-height: 1em;
}

.feature{
    color: #ece7dc; 
    font-size: 15px; 
    font-weight: 500;
}

.rating{
    color: #b69f5e; 
    font-size: 1.7em; 
    text-transform: uppercase; 
    line-height: 1em;
}

.director{
    color: #ece7dc; 
    font-size: 18px; 
    font-weight: 700;
}

.stars{
    color: #363634; 
    font-size: 15px;
    font-weight: 800;
}

.description{
    color: #fff; 
    text-transform: initial; 
    font-size: 15.5px; 
    text-align: justify;
}

span{
    color:#363634; 
    font-size: 16px;
}

@media only screen and (min-width: 300px) and (max-width: 767px){
    .head{
        color: #363634; 
        font-size: 1.2em; 
        font-weight:900; 
        text-transform: uppercase; 
        line-height: .2em; 
        text-decoration: underline;
    }
    
    .titles{
        color: #ffffff; 
        font-size: .9em; 
        font-weight:900; 
        text-transform: uppercase; 
        line-height: -1em;
    }
    
    .feature{
        color: #ece7dc; 
        font-size: 12px; 
        font-weight: 500;
    }
    
    .rating{
        color: #b69f5e; 
        font-size: 1.2em; 
        text-transform: uppercase; 
        line-height: 1em;
    }
    
    .director{
        color: #ece7dc; 
        font-size: 12px; 
        font-weight: 700;
    }
    
    .stars{
        color: #363634; 
        font-size: 10px;
        font-weight: 700;
    }
    
    .description{
        color: #fff; 
        text-transform: initial; 
        font-size: 10.5px; 
        text-align: justify;
        padding-top: -100px;
        display: none;
    }
    
    span{
        color:#363634; 
        font-size: 9px;
    }
}

footer a{
    color: #fff;
    text-decoration: none;
    line-height: .1px;
}